.q-item-sublabel {
    font-size: 75%;
}

#root-list-wrapper {
    overflow: hidden;
}

.root-actions {
    right: -100px;
    border-left: 1px solid #e0e0e0;
    padding-left: 5px;
    position: absolute;
}

.root-detail {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* display: inline-block;
  width: 100%; */
}

.root-detail,
.root-actions {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.root-wrapper:hover .root-actions {
    right: 5px;
}

.root-wrapper:hover .root-detail {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
}